<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="container-fluid d-flex justify-content-center align-items-center vh-100">
        <div class="card" style="width: 25rem;">
            <h5 class="card-header">Create Service Provider</h5>
            <div class="card-body">

                <form action="" method="POST">
                    <div class="row">
                        <div class="mb-3 col">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" name="email">
                        </div>
                        <div class="mb-3 col">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" name="pwd">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col">
                            <label for="servicename" class="form-label">Service provider Name</label>
                            <input type="text" class="form-control" id="servicename" aria-describedby="emailHelp"
                                name="">

                        </div>
                        <div class="mb-3 col">
                            <label for="servicename" class="form-label">Experience</label>
                            <input type="text" class="form-control" id="servicename" aria-describedby="emailHelp"
                                name="">

                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col">
                            <label for="Baseprice" class="form-label">City</label>
                            <input type="text" class="form-control" id="Baseprice" name="">

                        </div>
                        <div class="mb-3 col">
                            <label for="Baseprice" class="form-label">Phone</label>
                            <input type="text" class="form-control" id="Baseprice" name="">

                        </div>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Select Service</option>
                            <option value="1">Home Cleaning</option>
                            <option value="2">Home Decor</option>
                            
                        </select>

                    </div>


                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>

</html>